.board {
  margin: auto;
  margin-top: 15px;
  border-collapse: collapse;
}

.App {
  text-align: center;
}

button{
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);
}